.Body  {
border:  1px solid;
width: 500px;
height: 390px;
border-color: rgb(172, 172, 172);
transform: translate(500px, 140px);
border-radius: 5px;
}

.no-result {
  transform: translate(190px,200px);
}

