.Search input{
  flex: 1;
  position: absolute;
  width: 500px;
  height: 45px;
  border-radius: 5px;
  align-items: center;
  transform: translate(100%, 200%);
  border: 1px solid rgb(172, 172, 172);
  font-size: 17px;
}

.Search img {
  display: flex;
  width: 20px;
  cursor: pointer;
  border: none;
  height: 20px;
}

.Search button {
  background: none;
  border: none;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translate(4840%, 510%) ;
}

