.Back{
  display: flex;
  padding-bottom: 10px;
}

.Back img{
  height: 30px;
  transform: translate(463px,-240px);
}

.back-button:hover {
  transform: translate(463px, -240px) scale(1.1);
}

.back-button:active {
  transform: translate(463px, -240px) scale(0.95);
}
